.toast {
  box-sizing: border-box;
  padding: 0.75rem;
  background-color: white;
  border: 1px solid #333;
  border-radius: 0.25em;
  position: relative;
  cursor: pointer;
  transition: transform 300ms ease-in-out;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-family: inherit;
}

.toast .vertical-line {
  width: 3px;
}

.toast .vertical-line.error {
  background-color: orange;
}
.toast .vertical-line.success {
  background-color: green;
}

.toast .message {
  font-size: 1rem;
  word-break: break-all;
  align-self: center;
}

.toast .img {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
  align-self: center;
  flex-shrink: 0;
}

.toast .img.error {
  background-image: url("images/cross-42.svg");
  background-color: orange;
}

.toast .img.success {
  background-image: url("images/Tick-Icon-SVG-psokcd.svg");
}

.toast-container[data-position$="-right"] .toast {
  transform: translateX(110%);
}

.toast-container[data-position$="-left"] .toast {
  transform: translateX(-110%);
}

.toast-container[data-position="top-center"] .toast {
  transform: translateY(-100vh);
}

.toast-container[data-position="bottom-center"] .toast {
  transform: translateY(100vh);
}

.toast-container .toast.show {
  transform: translate(0, 0);
}

.toast.progress::before {
  content: "";
  position: absolute;
  height: 2px;
  width: calc(100% * var(--progress));
  background-color: blue;
  bottom: 0;
  left: 0;
  right: 0;
}

.toast.can-close::after {
  content: "\00D7";
  position: absolute;
  top: 2px;
  right: 5px;
}

.toast-container {
  position: fixed;
  margin: 10px;
  width: 250px;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.toast-container[data-position^="top-"] {
  top: 0;
}

.toast-container[data-position^="bottom-"] {
  bottom: 0;
}

.toast-container[data-position$="-right"] {
  right: 0;
}

.toast-container[data-position$="-left"] {
  left: 0;
}

.toast-container[data-position$="-center"] {
  left: 50%;
  transform: translateX(-50%);
}
